.navbar {
  background-color: #1f80ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-family: "Quicksand", sans-serif;
}
.container {
  font-family: "Quicksand", sans-serif;
}

.nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease-in-out;
}

.navbar-brand {
  color: #ffffff !important;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #ffffff !important;
}

.card {
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 20px;
  background-color: #121212;
  font-family: "Quicksand", sans-serif;
  padding: 2%;
}

.card-title {
  color: #007bff;
  padding-bottom: 5%;
  text-align: center;
}

.card-text {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.card-body {
  padding: 2rem;
  color: #cccccc;
}

.form-control {
  border-radius: 0.25rem;
  border: 1px solid #343a40;
  background-color: #222222;
  color: #ffffff;
  margin-bottom: 5%;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.25);
}
.btn {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.btn-primary {
  margin-top: 5%;
  background-color: #0056b3;
  border-color: #004085;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #003a70;
  border-color: #002244;
}

.footer-container {
  margin-top: 5%;
  text-align: center;
  padding: 20px 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
}

.footer-content {
  display: block;
  padding: 10px;
}

.dmca-badge img {
  display: block;
  margin: 0 auto 10px;
}

#copyRightText {
  display: block;
  margin-bottom: 10px;
}

.placeholder-image {
  width: 100%;
  max-width: 25%;
  height: auto;
  margin-bottom: 10px;
}
